{% extends "base.html" %}

{% block content %}
<form style="text-align:center" method='POST'>
    {{ form.username.label   }}{{ form.username()   }}<br>
    {{ form.email.label      }}{{ form.email()      }}<br>
    {{ form.password.label   }}{{ form.password()   }}<br>
    {{ form.first_name.label }}{{ form.first_name() }}<br>
    {{ form.last_name.label  }}{{ form.last_name()  }}<br>
    {{ form.nickname.label   }}{{ form.nickname()   }}<br>
    {{ form.rank             }}{{ form.rank         }}<br>
    <br>
    {{ form.submit() }}
</form>
{% endblock %}
