{% extends "base.html" %}

{% block content %}
<form style="text-align:center" method='POST'>
    {{ form.username.label   }}&nbsp;{{ form.username()   }}<br>
    {{ form.email.label      }}&nbsp;{{ form.email()      }}<br>
    {{ form.password.label   }}&nbsp;{{ form.password()   }}<br>
    {{ form.first_name.label }}&nbsp;{{ form.first_name() }}<br>
    {{ form.last_name.label  }}&nbsp;{{ form.last_name()  }}<br>
    {{ form.nickname.label   }}&nbsp;{{ form.nickname()   }}<br>
    {{ form.rank.label       }}&nbsp;{{ form.rank()       }}<br>
    <br>
    {{ form.submit() }}
</form>
{% endblock %}
